body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:14px;
  width:772px;
  height:736px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:760px;
  height:40px;
}
#u1_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:249px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:0px;
  width:253px;
  height:40px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:249px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:254px;
  height:40px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:217px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:71px;
  width:453px;
  height:217px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:71px;
  width:263px;
  height:217px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:217px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:406px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:317px;
  width:143px;
  height:406px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:317px;
  width:595px;
  height:406px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:351px;
  width:516px;
  height:132px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:132px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:517px;
  width:516px;
  height:132px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:132px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
